@import url("https://fonts.googleapis.com/css?family=Karla:weight@400;700&display=swap");

$font: "Karla", sans-serif;
$primary-color: #ffffff;

html, body, div {
    padding: 0;
    margin: 0;
}

body {
    background-color: #10121b;
    overflow: hidden;
}

#canvas_container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}
